<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="namespace1">
  <select id="user_list">
    select a.user_id as id,
           a.user_name as name,
           b.code_name || ' (' || b.code_desc || ')' as department
    from bc_user_info a
    left join (select * from bc_code_info where code_type='GROUP') b
    on a.group_id = b.code_id
  </select>
</mapper>